@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  :root {
    --moderate-blue: hsl(238, 40%, 52%);
    --SoftRed: hsl(358, 79%, 66%);
    --LightGrayishBlue: hsl(239, 57%, 85%);
    --PaleRed: hsl(357, 100%, 86%);
    --DarkBlue: hsl(212, 24%, 26%);
    --grayish-blue: hsl(211, 10%, 45%);
    --light-gray: hsl(223, 19%, 93%);
    --VeryLightGray: hsl(228, 33%, 97%);
  }    
  main{
    @apply w-screen min-h-screen bg-light-gray pt-5 px-5 font-Rubik
  }
  textarea{
    @apply w-full border rounded-md p-2 text-grayish-blue text-lg
  }
}

@layer components{
  .container{
    @apply mx-auto w-full lg:w-1/2 flex flex-col 
  }
  .post{
    @apply w-full flex bg-white rounded-md p-5 gap-5 shadow-lg
  }
  .post > .body{
    @apply flex flex-col w-full 
  }
  .post > .body > .user{
    @apply w-full flex justify-between p-2
  }
  .post > .body > .content{
    @apply text-grayish-blue pr-5
  }
  .post > .btn-group{
    @apply flex flex-col
  }
  .post > .btn-group button{
    @apply w-8 h-1/3 border p-2 flex justify-center items-center
  }
  .post > .btn-group button:first-child{
    @apply rounded-t-md
  }
  .post > .btn-group button:last-child{
    @apply rounded-b-md
  }
  .replies-container{ 
    @apply w-[85%] flex flex-col gap-3 border-l-2 pl-10 border-black/10
  }
  .form-post{
    @apply w-full flex bg-white rounded-md p-5 gap-5 shadow-lg
  }
  .btn{
    @apply rounded-sm py-2 px-4 rounded-md
  }
  .btn-send{
    @apply bg-moderate-blue text-white hover:opacity-50
  }  
  .tagname{
    @apply text-moderate-blue font-semibold
  }
}